* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 30px;
  font-size: 17px;
  padding: 14px;
}
fieldset {
  background-color: #fff;
  border: 1px solid rgb(15, 22, 146);
}
input[type="button"] {
  background-color: #209793;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  width: 14%;
  font-size: 14px;
  text-align: center;
}

input[type="button"]:hover {
  background-color: #0b47a7;
  border: 1px;
}
#signup {
  font-size: 13px;
}
#login-form {
  font-size: 30px;
  font-style: normal;
  text-align: center;
}
